@import "./../tokens/colors";
@import "./../tokens/spacings";
@import "./../tokens/typos";

.likeButton {
  padding: $space_half $space;
  position: sticky;
  top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 60px;
  border: 3px solid $color-oscuro;
  border-radius: $space;
  background-color: transparent;
  outline: none;
  @include media(tablet) {
    padding: $space;
    position: sticky;
    top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: auto;
    border: 3px solid $color-oscuro;
    border-radius: $space;
    background-color: transparent;
    outline: none;
  }
  @include media(desktop-s) {
    padding: $space;
    position: sticky;
    top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    border: 3px solid $color-oscuro;
    border-radius: $space;
    background-color: transparent;
    outline: none;
  }
}

.like {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-image: url("./../icons/corazon.webp");
  background-size: 1450px 50px;
  outline: none;
}

.like.is-liked {
  animation-name: like;
  animation-duration: 0.8s;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}

@keyframes like {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: right;
  }
}
