@import "./../tokens/colors";
@import "./../tokens/spacings";
@import "./../tokens/typos";

#page-wrap {
  text-align: center;
  overflow: auto;
  top: 45%;
  position: relative;
}

.bm-item {
  padding: $space;
  margin-bottom: $space;
  font-weight: $normal;
  color: $color-oscuro;
  outline: none;
  &:hover {
    text-decoration: none;
    color: get-opacity($color-oscuro, 0.7);
  }
}

.bm-burger-button {
  position: fixed;
  width: 25px;
  height: 20px;
  right: $space_x2;
  top: 22px;
  cursor: none;
  @include media(desktop-s) {
    position: fixed;
    width: 30px;
    height: 25px;
    right: $space_x3;
    top: 20px;
    cursor: none;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $color-oscuro;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  cursor: none;
}

/* Color/shape of close button cross */
.bm-cross {
  cursor: none;
  background: get-opacity($color-oscuro, 0.8);
}

/* General sidebar styles */
.bm-menu {
  padding: $space_x3;
  border-left: 3px solid $color-oscuro;
  border-bottom: 3px solid $color-oscuro;
  background: $color-claro;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
