@import "./../tokens/colors";
@import "./../tokens/spacings";
@import "./../tokens/typos";

.queryTags {
  padding: $space_x3;
  min-height: 80vh;
  h1 {
    margin-bottom: $space_x3;
    color: $color-variante-dos;
    @include font-size($h2);
  }
  a {
    text-decoration: none;
  }
  &__grid {
    padding: $space 0 $space_x3 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @include media(tablet) {
    padding: $space_x3 0;
    margin: 0 auto $space_x3 auto;
    width: 90%;
    text-align: center;
    h1 {
      margin: $space_x3 0;
      transition: 1s ease-in-out;
      @include font-size($h2);
    }
    a {
      text-decoration: none;
    }
    &__grid {
      padding: $space_x3 0;
      grid-gap: $space;
      @include display-grid;
      @include grid-template-columns(50% 50%);
    }
  }
  @include media(desktop-s) {
    padding: $space_x3 0;
    margin: 0 auto $space_x3 auto;
    width: 90%;
    text-align: center;
    h1 {
      margin: $space_x3 0;
      transition: 1s ease-in-out;
      @include font-size($h1);
    }
    a {
      text-decoration: none;
    }
    &__grid {
      padding: $space_x3 0;
      grid-gap: $space;
      @include display-grid;
      @include grid-template-columns(50% 50%);
    }
  }
  @include media(desktop-m) {
    padding: $space_x3 0;
    margin: 0 auto $space_x3 auto;
    width: 90%;
    text-align: left;
    h1 {
      margin: $space_x3 0;
      transition: 1s ease-in-out;
      @include font-size($h2);
    }
    a {
      text-decoration: none;
    }
    &__grid {
      padding: $space_x3 0;
      grid-gap: $space;
      @include display-grid;
      @include grid-template-columns(33% 33% 33%);
    }
  }
}
