@import "./../tokens/colors";
@import "./../tokens/spacings";
@import "./../tokens/typos";

.popularThemes {
  text-align: center;
  h1 {
    padding: $space_x3 0;
    transition: 1s ease-in-out;
    @include font-size($h2);
  }
  a {
    text-decoration: none;
  }
  &__grid {
    width: 100%;
    @include display-grid;
    @include grid-template-columns(auto);
  }
  @include media(tablet) {
    &__grid {
      width: 100%;
      @include display-grid;
      @include grid-template-columns(33% 33% 33%);
    }
  }
  @include media(desktop-s) {
    text-align: center;
    h1 {
      padding: $space_x3 0;
      transition: 1s ease-in-out;
      @include font-size($h1);
    }
    a {
      text-decoration: none;
    }
    &__grid {
      margin: 0;
      width: 100%;
      @include display-grid;
      @include grid-template-columns(1fr grid-repeat(3));
    }
  }
}
